img.card {
  width: 23%;
  padding: 1%;
}

.tricks > img.card {
  width: 10%;
  padding: 1%;
}

.tricks > span {
  border: 1px solid black;
  width: 10%;
  padding: 1%;
  display: inline-block;
}

#gtable {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  max-width: 80%;
}

#gtable > div {
  border: 1px solid black;
  padding: 20px;
}

#seat-0, #seat-3 {
  text-align: center;
}

#seat-1 {
  text-align: left;
}
#seat-2 {
  text-align: right;
}
