@import 'carbon-components/scss/globals/scss/styles.scss';

.lobby__outer {
    margin-top: 3rem;
    margin-left: 3rem;
}

.textRow {
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
    margin-left: 15px;
    width: 30rem;
    .bx--btn--icon-only {
        background-color: lightgreen;
    }
}

.exit__row {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}
.leave__button {
    font-size: 1.3rem;
}
.seat__picker {
    height: 46vh;
    margin-top: 2vh;
}
.table__seat {
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.spName {
    font-size: 1.3rem;
    font-weight: bold;
}

.sp__top, .sp__bot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
}
.sp__mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}
.start__game {
    display: flex;
    .bx--dropdown__wrapper {
        width: -webkit-fill-available;
    }
}
.player__name {
    font-size: 1.6rem;
    font-weight: bold;
}
.play__hinfo {
    font-size: 1.3rem;
    min-height: 20px;
}
.play__tinfo {
    font-size: 1.3rem;
    min-height: 20px;
}
.partner__stack{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.partner__info {
    display: flex;
    justify-content: space-evenly;
}
.my__stack {
    float: right;
    font-size: 1.5rem;
}
.mh__card {
    width: 100px;
}
.mh__card__row {
    display: flex;
}
.hid__card {
    width: 30px;
}
.hid__card__row {
    display: flex;
}
.vert__stack {
    display: flex;
    flex-direction: column;
    .hid__card__div {
        height: 32px;
    }
    .hid__card__row {
        flex-direction: column;
    }
    .hid__card {
        transform: rotate(90deg);
    }
}
.tm__left {
    // background-color: rgb(217, 249, 255);
    .vert__stack {
        float: right;
        align-items: flex-end;
    }
}
.tt__center {
    // background-color: rgb(217, 249, 255);
    text-align: center;
}

// .tm__right {
//     background-color: rgb(217, 249, 255);
// }
// .tb__center {
//     background-color: rgb(217, 249, 255);
// }

.trump__card {
    width: 80px;
}
.trump__outer {
    height: 100%;
    width: 100%;
}
.trump__holder {
    height: 100%;
    display: flex;
    align-items: center;
}
.trump__holder.me {
    flex-direction: column;
    justify-content: flex-end;
}
.trump__holder.partner {
    flex-direction: column;
    justify-content: flex-start;
}
.trump__holder.left {
    flex-direction: row;
    justify-content: flex-start;
}
.trump__holder.right {
    flex-direction: row;
    justify-content: flex-end;
}

.table__header {
    height: 10vh;
}
.table__top {
    height: 20vh;
}
.table__mid {
    height: 50vh;
}
.table__bot {
    height: 20vh;
}


// .tb__left {
//     background-color: slategray;
// }
// .tb__right {
//     background-color: lightsalmon;
// }
// .hd__left {
//     background-color: rosybrown;
// }
// .hd__right {
//     background-color: skyblue;
// }
// .tt__left {
//     background-color: slategray;
// }
// .tt__right {
//     background-color: lightsalmon;
// }
// .tm__center {
//     background-color: lightpink;
// }
